@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;600&display=swap");

body {
  color: #2f303a8f;
  font-family: "Assistant", sans-serif;
}
hr {
  border: 1px solid #2f303a8f;

  transform: rotate(90deg);
}
.title {
  border-bottom: 3px solid #2f303a8f;
  width: 100%;
}
.border {
  border-radius: 0px;
}
.subtitle {
  font-weight: 500;
}
.footer {
  -webkit-box-shadow: inset -3px 10px 5px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -3px 10px 5px -11px rgba(0, 0, 0, 0.75);
  box-shadow: inset -3px 10px 5px -11px rgba(0, 0, 0, 0.75);
  background-color: #c2c2c242;
  width: 110%;
  height: 100px;
  position: relative;
  left: -30px;
}

.myButton1 {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 6.82px;
  font-weight: 700;
  margin: 34px;
  background-color: #727171f1;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #f7f7f7;
  padding: 11px 48px;
  text-decoration: none;
  float: right;
}
.myButton1:hover {
  background-color: #dfdfdf;
  color: #727171f1
}
.myButton1:active {
  position: relative;
  top: 1px;
}

.inactive{
  background-color: #c2c2c242;
  color: #2f303a8f
}
.inactive:hover {
  background-color: #727171f1;
  color: #f7f7f7;
}
