
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;600&display=swap');


body{
  color: #2f303a8f;
  font-family: 'Assistant', sans-serif;
}
hr{
  border: 1px solid #2f303a8f;
  
  transform: rotate(90deg);
  
}
.title{
  border-bottom: 3px solid #2f303a8f;
  width: 100%;
}
.border{
  border-radius: 0px;
}